python/2/Визуализация.docx
python/2/шпаргалка.docx
python/2/company_sales_data.csv
python/1lab/data/xc.dat
python/1lab/data/yc-1.dat
python/1lab/data/yc-2.dat
python/1lab/data/yc-3.dat
python/1lab/data/yc-4.dat
python/1lab/data/yc-5.dat
python/1lab/data/yc-6.dat
python/1lab/data/yc-7.dat
python/1lab/data/yc-8.dat
python/1lab/data/yc-9.dat
python/1lab/results/out_yc-1.dat
python/1lab/results/out_yc-2.dat
python/1lab/results/out_yc-3.dat
python/1lab/results/out_yc-4.dat
python/1lab/results/out_yc-5.dat
python/1lab/results/out_yc-6.dat
python/1lab/results/out_yc-7.dat
python/1lab/results/out_yc-8.dat
python/1lab/results/out_yc-9.dat
python/data.txt
python/data4.txt
python/data2802.txt
python/lab2_data.csv
python/2prog.py
python/4lab.py
python/5prog.py
python/password_verification.py
python/1prog.py
python/2/lab5.py
python/5lab/game5.py
python/2lab/шпаргалка.docx
python/2lab/Визуализация.docx
